In [ ]:
#리스트(List): 순서,중복, 수정, 삭제 가능 -> []
#튜플(Tuple): 순서, 중복 가능. but 수정, 삭제 불가능 -> ()
#딕셔너리(Dictionary): 순서, 중복 없음. 수정, 삭제 가능 -> ()
#집합(Set): 순서, 중복 불가능. 추가, 삭제 가능 -> set ()

In [1]:
odd = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [4]:
a = []      
a = list()                           # 빈 리스트
b = [1, 2, 3]   
b = list(1, 2, 3)                      # 숫자형만을 가진 리스트
c = ['Life', 'is', 'too', 'short']     # 문자열만을 가진 리스트
d = [1,2, 'Life', 'is']                # 숫자와 문자열 모두 가진 리스트
e = [1,2, ['Life', 'is']]              # 리스트 안의 또 다른 리스트를 가진 리스트

In [5]:
# 리스트 인덱싱
a = [1,2,3]
a

[1, 2, 3]

In [6]:
a[0]

1

In [7]:
a[0] + a[2]

4

In [8]:
a[-1]

3

In [11]:
a = [1,2,3, ['a','b','c']]

In [12]:
print(a[0])
print(a[-1])

1
['a', 'b', 'c']

In [13]:
print(a[3])

['a', 'b', 'c']

In [14]:
a[-1][0]

'a'

In [16]:
a[3][2]

'c'

In [17]:
a = [1,2, ['a',[b],['Life','is']]]

In [18]:
a[2][2][0]

'Life'

In [19]:
a[2][2][1]

'is'

In [20]:
a[2][2]

['Life', 'is']

In [21]:
#리스트의 슬라이싱
a= [1,2,3,4,5]
a[0:2] #인덱스번호가 0 ~ 1까지 또 다른 리스트를 가져옴

[1, 2]

In [22]:
a= "12345"
a[0:2]

'12'

In [23]:
a= [1,2,3,4,5]
b= a[:2]
c= a[2:]
b

[1, 2]

In [24]:
c

[3, 4, 5]

In [25]:
a= [1,2,3,['a','b','c'],4,5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [26]:
a[3][:2]

['a', 'b']

In [27]:
a[:3]

[1, 2, 3]

In [28]:
a[3:]

[['a', 'b', 'c'], 4, 5]

In [29]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [30]:
#a - [1,2,3,4,5]

In [37]:
a[1:3]

[2, 3]

In [41]:
a=[1,2,3] #리스트 반복하기(*)
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [42]:
len(a) #리스트 길이 구하기

3

In [44]:
a= [1,2,3]
str(a[2]) + "hi" #숫자랑 글자 더할때 숫자앞에 str(문자열로 바꿔주는 함수)

'3hi'

In [49]:
a=[1,2,3] #리스트의 값 수정하기
print(a[2]) #3
a[2]=4
print(a[2]) #4
a

3
4

[1, 2, 4]

In [48]:
# del 함수를 사용해 리스트의 요소 삭제하기
a=[1,2,3]
del a[1]
a

[1, 3]

In [50]:
a=[1,2,3,4,5]
del a[2:]     #del 객체
a

[1, 2]

In [ ]:
#객체지향프로그래밍

In [66]:
#리스트에 요소 추가하기 - append
a=[1,2,3]

a.append(4)
a

[1, 2, 3, 4]

In [65]:
a.append([5,6])
a

[1,
 2,
 3,
 4,
 [5, 6],
 [5, 6],
 [5, 6],
 [5, 6],
 [5, 6],
 [5, 6],
 [5, 6],
 [5, 6],
 [5, 6],
 [5, 6]]

In [67]:
a=[1,2,3,3,4]
a

[1, 2, 3, 3, 4]

In [69]:
#리스트 정렬 - sort
a=[1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [72]:
a=['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [74]:
a=['cb','ad','da']
a.sort()
a

['ad', 'cb', 'da']

In [76]:
# (정렬이 아님) 리스트 뒤집기 - reverse
a=['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [77]:
a=['cb','ad','da']
a.reverse()
a

['da', 'ad', 'cb']

In [78]:
#인덱스 반환
a=[1,2,3]
a.index(3)

2

In [79]:
a.index(1)

0

In [80]:
#리스트에 요소 삽입 - insert
a=[1,2,3]
# insert(인수1, 인수2) -> 인수1: index번호 인수2: 값
a.insert(0,4) #0번째 index에 4값을 넣음
a

[4, 1, 2, 3]

In [83]:
a.insert(3,5)
a

[4, 1, 2, 5, 5, 5, 3]

In [85]:
#리스트요소 제거 - remove
a= [1,2,3,1,2,3]
a.remove(3) #리스트에서 첫 번째 값이 x가 나오는 것을 삭제
a

[1, 2, 1, 2, 3]

In [86]:
a.remove(3)
a

[1, 2, 1, 2]

In [87]:
#리스트 요소 끄집어 내기 -pop
a=[1,2,3]
a.pop()

3

In [88]:
a

[1, 2]

In [93]:
#리스트에 포함된 요소 x의 개수 세기 - count
a=[1,2,3,1]
a.count(1)

2

In [94]:
#리스트 확장 - extend
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [96]:
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [97]:
a.extend([4,5]) #a+=[4,5] 와 같다

In [98]:
a

[1, 2, 3, 4, 5, 6, 7, 4, 5]

In [156]:
std_list = ["아이언맨","헐크","스파이더맨"]
std_list

['아이언맨', '헐크', '스파이더맨']

In [128]:
std_list = ["아이언맨","헐크","스파이더맨"]
std_list.append("타노스")
std_list.append("앤트맨")
std_list
std_list[2:0]
std_list

['아이언맨', '헐크', '스파이더맨', '타노스', '앤트맨']

In [162]:
std_list = ["아이언맨","헐크","스파이더맨","타노스","앤트맨"]
std_list[3] = "다노스"
std_list

['아이언맨', '헐크', '스파이더맨', '다노스', '앤트맨']

In [163]:
std_list = ["아이언맨","헐크","스파이더맨","다노스","앤트맨"]
std_list[1]

'헐크'

In [165]:
std_list = ["아이언맨","헐크","스파이더맨","다노스","앤트맨"]
std_list[1:4]

['헐크', '스파이더맨', '다노스']

In [167]:
std_list = ["아이언맨","헐크","스파이더맨","다노스","앤트맨"]
del std_list[1]
std_list

['아이언맨', '스파이더맨', '다노스', '앤트맨']

In [168]:
std_list = ["아이언맨","스파이더맨","다노스","앤트맨"]
std_list.sort()
std_list

['다노스', '스파이더맨', '아이언맨', '앤트맨']

In [172]:
a = list()
a

[]