In [10]:
# 튜플 자료형
t1 = ()                      # 빈 튜플
t2 = (1,)                    # 1 원소를 가진 튜플
t3 = (1,2,3)                 # 1,2,3, 원소를 가진 튜플
t4 = 1,2,3                   # 1,2,3, 원소를 가진 튜플
t5 = ('a','b',('ab','cd'))   # 튜플 안의 또 다른 튜플을 가진 튜플
t6 = tuple([1])              # iterable(반복)이 되는 값을 인수로 가짐  1 리스트 or 문자열
t7 = (1)                     # 1개는 숫자 혹은 문자형으로 표시
t8 = ("1")                   # 1개는 숫자 혹은 문자형으로 표시

In [11]:
print(t1)
print(t2)
print(t6)
print(t7)
print(t8)

()
(1,)
(1,)
1
1

In [14]:
# 변수의 형태를 볼 수 있는 type함수
a = 1
b = "1"
c = [1]
d = (1,)
e = (1)

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'int'>

In [20]:
# 튜플 요솟값을 삭제하려 할 때 error가 발생
t1 = ([1,2,'a','b'])
del t1[0]
t1

[2, 'a', 'b']

In [18]:
# 튜플 요솟값을 삭제하려 할 때 error가 발생
t1 = ([1,2,'a','b'])
t1[0] = 'c'
t1

['c', 2, 'a', 'b']

In [22]:
t1 = (1,2,'a','b')
t1[0]

1

In [23]:
t1[3]

'b'

In [24]:
# 튜플 슬라이싱
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

In [26]:
# 튜플 더하기
t1 = (1,2,'a','b')
t2 = (3,4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [27]:
# 튜플 곱하기
t2 = (3,4)
t3 = t2*3
t3

(3, 4, 3, 4, 3, 4)

In [28]:
# 튜플 길이 구하기
t1 = (1,2,'a','b')
len(t1)

4

In [32]:
my_variable = ()
my_variable

()

In [33]:
t1 = (10,)
t1

(10,)

In [63]:
t = 1,2,3,4
type(t)

tuple

In [66]:
t = ('a','b','c')
t = ('A','b','c')
t

('A', 'b', 'c')

In [82]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

TypeError: 'list' object is not callable

In [79]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

TypeError: 'tuple' object is not callable

In [ ]:
# {Key1: Value1, Key2: Va;ue2, Key3: Value3,...}

In [ ]:
dic = {'name:'}