In [1]:
a= "Hellow World"
b= 'python is fun'
c= """Life is too short, You need python"""
d= '''Life is too short, You python'''

print(a)
print(b)
print(c)
print(d)

Hellow World
python is fun
Life is too short, You need python
Life is too short, You python

In [3]:
food= "python's favorite food os perl"
food

"python's favorite food os perl"

In [5]:
food= 'python's favorite food is perl'

SyntaxError: unterminated string literal (detected at line 1) (2467037304.py, line 1)

In [7]:
say= '"python is very easy."he says.'
say

'"python is very easy."he says.'

In [8]:
food= 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [10]:
multiline= "Life is too short\nYou need python"
print(multiline)

'Life is too short\nYou need python'

In [11]:
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [13]:
a= "하하호호\t탭이 되나?"
print(a)
a= "하호호\\탭이 되나?"
print(a)

하하호호	탭이 되나?
하호호\탭이 되나?

In [14]:
head= "Python"
tail= "is fun!"
head+tail

'Pythonis fun!'

In [15]:
a="Python"
a*2

'PythonPython'

In [17]:
print("============================================================")
print("=" * 55)

============================================================
=======================================================

In [20]:
a= "life is too short"
len(a)

17

In [24]:
a= "life is too short, you need python"
print(a[3])
print(a[5])
print(a[7])
print(a[9])
print(a[0])

e
i

o
l

In [25]:
a="life is too short, you need python"
print(a[-1])
print(a[-2])

n
o

In [26]:
print(a[-0])

l

In [28]:
a= "life is too short, you need python"
b= a[0] + a[1] + a[2] + a[3]
b

'life'

In [34]:
a= "life is too short, you need python"
print(a[0:5])
print(a[0:2])
print(a[5:7])
print(a[12:17])

life
li
is
short

In [37]:
a="life is too short, you need python"
print(a[19:])
print(a[:17])
print(a[:])

you need python
life is too short
life is too short, you need python

In [38]:
a= "life is too short, you need python"
a[19:-7]

'you need'

In [41]:
a= "20230331rainy"
date=a[:8]
weather= a[8:]
date

'20230331'

In [42]:
weather

'rainy'

In [45]:
year=a[:4]
day=a[4:8]
year

'2023'

In [47]:
day

'0331'

In [48]:
a="pithon"
a[1]

'i'

In [52]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [55]:
b=a[:1]+'y'+a[2:]
b

'python'

In [59]:
"i eat %d applies." % 3

'i eat 3 applies.'

In [60]:
"i eat %s applies." % "tka"

'i eat tka applies.'

In [61]:
number=3
"i eat %d allpes" % number

'i eat 3 allpes'

In [62]:
number=10
day="three"
"i ate %d apples. so i was sick for %s days." % (number, day)

'i ate 10 apples. so i was sick for three days.'

In [64]:
"error is %d%%." % 98

'error is 98%.'

In [65]:
"i haver %s allpes" % 3

'i haver 3 allpes'

In [66]:
"rate is %s" % 3.234

'rate is 3.234'

In [67]:
"%10s" % "hi"

'        hi'

In [68]:
"%-10sjane" % 'hi'

'hi        jane'

In [69]:
"%.2f" % 3.42134234

'3.42'

In [70]:
"%10.4f" % 3.42134234

'    3.4213'

In [71]:
"%10.4f" % 312558.42134234

'312558.4213'

In [73]:
"i eat {0} apples". format(3)

'i eat 3 apples'

In [72]:
"i eat {0} apples". format("five")

'i eat five apples'

In [74]:
number=3
"i eat {0} apples". format(number)

'i eat 3 apples'

In [75]:
number=10
day="three"
"i ate {0} apples. so i was sick for {1} days.".format(number,day)

'i ate 10 apples. so i was sick for three days.'

In [77]:
"{0:<10}".format("hi")

'hi        '

In [79]:
"{0:>10}".format("hi")

'        hi'

In [80]:
name='김정훈'
age=34
f'나의이름은 {name}입니다. 나이는 {age}입니다.'

'나의이름은 김정훈입니다. 나이는 34입니다.'

In [81]:
age=34
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 35살이 된다.'

In [85]:
y=3.42134234
f'{y:0.4f}'

'3.4213'

In [84]:
f'{y:10.4f}'

'    3.4213'

In [86]:
f'{{and}}'

'{and}'

In [89]:
a="hobby"
a.count("bb")

1

In [91]:
a="python is the best choice"
print(a.find('b'))
print(a.find('k'))
print(a.find('t'))

14
-1
2

In [92]:
a= "life is too short"
a.index('t')

8

In [93]:
a.index('k')

ValueError: substring not found

In [95]:
print("{0:!^12}".format('python'))

!!!python!!!

In [96]:
",".join('abcd')

'a,b,c,d'

In [97]:
a= "hi"
a.upper()

'HI'

In [98]:
a="HI"
a.lower()

'hi'

In [99]:
a= "python is good"
a[1]

'y'

In [102]:
a= "python is good"
b = a[-4] + a[-3] + a[-2] + a[-1]
b

'good'

In [103]:
a="Hi"
a*10

'HiHiHiHiHiHiHiHiHiHi'

In [123]:
a= "www.naver.com"
b = a[1] + a[3] + a[5] + a[7]+ a[9]+ a[11] +"!!"
b

'w.ae.o!!'

In [129]:
 a = " hi "
 a.strip()

'hi'

In [130]:
a= "life is too short"
a.replace("life", "Your leg")

'Your leg is too short'

In [133]:
phone_number = "010-1111-2222"
phone_number.replace("-","")

'01011112222'

In [134]:
string= "abcdef2a3454a53a"
string.replace("a","A")

'Abcdef2A3454A53A'